//LATO - 400 & 700
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
//ARCHIVO BLACK - 400
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

:root {
  --black: #1a1b1c;
  --yellow: #fbbf24;
  --yellow-dark: #e6ad1d;
  --yellow-light: #fae1a1;
  --purple: #6e32ff;
  --white: #ffffff;
  --white-dark: rgb(189, 187, 187);

  --font-body: Lato;
  --font-title: "Archivo Black";
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  //TYPOGRAPHY
  color: var(--black);
  font-family: var(--font-body), sans-serif;
  font-weight: 400;
  //font-size: 5.8rem;
  //line-height: 13.5rem;
}

div#__next {
  //max-width: 180rem; //max-width 1800px

  min-height: 100vh;
  //center element
  //margin: 0 auto 0 auto;
  background-color: var(--white);

  //Layout orientation - along Y-axis
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
