.button {
  height: 6rem;
  width: 20rem;

  border: 3px solid var(--yellow);
  border-radius: 1rem;

  color: var(--yellow);
  background-color: transparent;

  padding: 1rem;

  //typography
  font-size: 2.7rem;
  text-transform: uppercase;
  font-family: var(--font-body), sans-serif;
  font-weight: 400;

  &:hover {
    color: var(--yellow-dark);
    border-color: var(--yellow-dark);
  }
}
