.content {
  margin: 0 5rem;
  font-size: 4.2rem;

  //animation
  transition: all 0.2s;

  &__heading {
    padding-bottom: 2rem;

    //positioning for namespan pseudo element
    position: relative;

    //animation
    animation: moveInBottom 0.8s ease-in;
  }

  &__namespan {
    font-family: var(--font-title);
    display: block;

    font-size: 12.5rem;

    padding-bottom: 1.5rem;

    color: var(--yellow);

    //!moveinBottom animation
    animation: moveInBottom 0.4s ease-in;

    //positioning pseudo element

    &:hover::before {
      content: "";
      background-color: var(--yellow);
      display: inline-block;
      height: 1rem;
      width: 105rem;

      //positioning pseudo element
      position: absolute;
      top: 52%;

      //animation
      animation: expandNamespanWidth 0.7s ease-in-out;
    }
  }

  &__paragraph {
    font-size: 4rem;
    line-height: 7.8rem;

    //position the Link pseudo element :hover
    position: relative;

    //!moveinBottom animation
    animation: moveInBottom 1s ease-in;
  }

  &__link:link,
  &__link:visited {
    color: var(--yellow);
    text-decoration: none; //remove underline

    &:hover {
      color: var(--yellow-dark);
    }
  }

  //&__link:hover {
  //  color: var(--yellow-dark);
  //  transform: translateY(-0.2rem);
  //}

  //Underline pseudo element
  &__link:hover::before {
    content: "";
    background-color: var(--yellow-dark);
    display: inline-block;
    height: 0.3rem;
    width: 8rem;

    //position pseudo-element
    position: absolute;
    top: 90%;

    //animation
    cursor: pointer;
    animation: expandLinkWidth 0.35s ease-in-out;
  }

  &__link:active {
    &:focus {
      background-color: transparent;
      animation: pulsate 1s infinite;
    }
  }
}

@keyframes expandLinkWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 8rem;
  }
}

@keyframes expandNamespanWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 105rem;
  }
}

@keyframes pulsate {
  0% {
    transform: translateY(-0.2rem);
    box-shadow: none;
  }
  50% {
    transform: translateY(0rem);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: translateY(-0.2rem);
    box-shadow: none;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
