.content {
  background-color: var(--white);

  max-width: 150rem;

  //center page content in layout
  margin: 0 auto;
  //div#__next element is parent element / container

  //internal whitespace
  padding: 4rem 4rem;
}
